<h1>Добро пожаловать на главную страницу</h1>
<div>
    <form (ngSubmit)='MakeLogin()'>
        <input type='text' placeholder="Введите город"
        [(ngModel)]='city'
        name='login'><br>
        <input type="text" placeholder="Введите страну"
        [(ngModel)]='country'
        name="password"><br>
        <input type="submit" value="Добавить" (click)='do(city, country)'>
    </form>
    <div *ngFor='let item of items'>
        Город: {{item.city}}<br>
        Страна: {{item.country}}
    </div>
</div>